/* /* Cards, buttons, badges, chart boxes, modals */
/* Reusable UI components */

.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card-stat {
    flex: 1;
    position: relative;
    min-width: 200px;
    background-color: #2b2bb2;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card-stat::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: rgb(26, 26, 35);
    opacity: 30%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-stat i {
    font-size: 2rem;
}

.chart-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    background: transparent;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.no-wrap {
    white-space: nowrap;
}